@media (max-width: 769px) {
  #root {
    --header_height: 50px;
    --menu_span_padding: 12px 20px;
    --menu_item_padding: 12px 0;

    --main_padding: 10px;
    --title_size: 28px;

    --code_font_size: 24px;
    --code_tab_width: 60px;
    --skill_bar_label_width: 180px;
    --skill_progress_width: calc(100% - 160px);
    --skill_progress_height: 24px;
    --dashed_gap: 8px;
  }
}

@media (max-width: 481px) {
  #root {
    --title_size: 24px;

    --code_font_size: 18px;
    --code_tab_width: 24px;
    --skill_bar_label_width: 130px;
    --skill_progress_width: calc(100% - 130px);
    --skill_progress_height: 15px;
    --dashed_gap: 4px;
  }
}
