@media (max-width: 769px) {
  #root {
    --main_padding: 10px;
    --code_font_size: 24px;
    --code_tab_width: 60px;
    --skill_bar_label_width: 160px;
    --skill_progress_width: calc(100% - 160px);
    --skill_progress_height: 24px;
  }
}

@media (max-width: 481px) {
  #root {
    --code_font_size: 18px;
    --code_tab_width: 24px;
    --skill_bar_label_width: 88px;
    --skill_progress_width: calc(100% - 88px);
    --skill_progress_height: 15px;
  }
}
