._vsc_nav {
  grid-area: page;
  width: 100%;
  max-width: 100vw;

  overflow-x: auto;
  --card_padding: 10px;
  --card_gap: 8px;
  --card_font_size: 18px;
  --card_svg_w: 20px;
  --card_svg_h: 20px;
  ._card_container {
    display: flex;
    gap: 2px;
    background-color: #252526;
  }
  ._card {
    display: flex;
    align-items: center;
    height: var(--header_height);
    padding: var(--card_padding);
    gap: var(--card_gap);
    color: #aaaaaa;
    background-color: #2d2d2d;
    font-size: var(--card_font_size);
    text-decoration: none;
    svg {
      width: var(--card_svg_w);
      height: var(--card_svg_h);
    }
    ._close {
      opacity: 0;
      transition: opacity 0.1s ease-out;
    }
    &:hover {
      ._close {
        opacity: 1;
      }
    }
  }

  ._active {
    color: #6cb686;
    background-color: #1e1e1e;
    svg {
      color: #cccccc;
    }
    ._close {
      opacity: 1;
    }
  }
}

._vsc_style {
  ._path_file {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
    padding-left: 20px;
    color: white;
    font-size: 14px;
    svg {
      width: 20px;
      padding: 5px 0;
    }
    .pic_ico {
      color: #ae80d3;
      margin-right: 4px;
    }
  }

  ._window {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 4px 20px;
  }

  ._picture {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
  }
}

.js_icon {
  color: #fdfd1d !important;
}

.html_icon {
  color: #b34a20 !important;
}

.react_icon {
  color: #3d7e99 !important;
}

.json_icon {
  color: #cbcb41 !important;
}

.pdf_icon {
  color: #d63030 !important;
}

.vsc__link {
  color: #cccccc;
  font-size: var(--code_font_size);
}
